*{
    box-sizing: border-box;
    background-color: lightgray;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    background-color: blue;
    height: 600px;
    width: 1200px;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    background-color: black;
    height: 600px;
    width: 100px;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.container div{
    background-color: gray;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
    height: 75px;
    width: 75px;
    display: inherit;
    justify-content: center;
    align-items: center;
}